extends baseEmail

block content
  p ุณูุงู #{firstName},
  p ุจู ุฎุงููุงุฏู ุจุงููุฒ ุฎูุด ุขูุฏุฏ ๐๐
  p ุดูุง ูู ุงฺฉููู ุนุถู ุฎุงููุงุฏู ูุง ูุณุชุฏ ูพุณ ูุทูุง ุงุฒ ุตุญุช ุงุทูุงุนุงุช ูุงุฑุฏ ฺฉุฑุฏู ุงุทููุงู ุญุงุตู ูุฑูุงุฏ ุจุฑุง ุฎุฏูุงุช ุฑุณุงู ูุฑ ฺู ุจูุชุฑ
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') ุขูพููุฏ ุชุตูุฑ ูพุฑููุงู
  p ุงฺฏุฑ ูุงุฒ ุจู ุฑุงูููุง ุฏุงุฑุฏ ุญุชูุง ุจุง ุฏูุณุชุงู ูุง ุชูุงุณ ุจฺฏุฑุฏ !
  p - ฺฏุฑูู ุขููุฒุด ุจุงููุฒ