footer.footer
  .moreDetails--footer
    .about-us--footer
      h1 درباره ی بیاموز
      p.details--footer
        | ما در گروه آموزشی بیاموز در تلاشیم تا در راستای عدالت آموزشی بکوشیم و تا جای ممکن خلا های آموزشی موجود را پر کنیم. هم اینک با کمک شما دوستان ما بیش از هزار جلد کتاب از انتشارات گوناگون داریم که آماده ارائه به دوستان کنکوری می باشد.
        | این مجموعه فعلا در راستای امانت کتاب فعال می باشد اما در آینده در زمینه های فرهنگی دیگر فعالیت خود را آغاز می کند.
    .connect-us--footer
      h1
        | با ما در ارتباط باشید
      ul
        li شماره تماس : 09903889662
        li ایمیل : info@biamoooz.ir
        li
          | آدرس : خمینی شهر، خیابان شریعتی جنوبی، کوچه مسجد جامع جنب گذر زینلی، مدرسه شهید اژه ای دوره اول
      h1 ما را دنبال کنید
      .icons--footer
        a(href='https://www.instagram.com/biamoooz_ir/' target='_blank')
          i.fab.fa-instagram
        a(href='https://t.me/Biamoooz_ir' target='_blank')
          i.fab.fa-telegram
  .footer--footer
    .footer_logo
      img(src='/img/icon-larg.png' alt='لگو')
      h6 گروه آموزشی بیاموز
    p.footer_copyright
      | تمام حقوق سایت متعلق به گروه آموزشی بیاموز می باشد ©
