header.header#overview_header
  include _header
  //- .header_container
  //-     a.title(href='/')
  //-         img.title--icon(src='/img/icon-larg.png' alt='بیاموز')
  //-         h1.title--text بیاموز
  //-     -if(!user)
  //-         .log_sign
  //-             a.log_sign--login(href='/login') ورود
  //-             a.log_sign--signup(href='/signup') ثبت نام
  //-     -else
  //-         .logout
  //-             a(href='/my')
  //-                 img.photo-profile(src=`/${user.photo}` alt='عکس')
  //-                 h1 #{user.firstName}
  //-             a.logout--logout(href='/logout') خروج
  nav.navbar  
    .nav(data-content='دهم')
      a(href='')  دهم 
      ul
        li.nav--li(data-content='ریاضی')
          a(href='') ریاضی
        li.nav--li(data-content='تجربی')
          a(href='') تجربی
        li.nav--li(data-content='ریاضی-تجربی')
          a(href='') ریاضی-تجربی
        li.nav--li(data-content='انسانی')
          a(href='') انسانی
        li.nav--li(data-content='عمومی')
          a(href='') عمومی
        li.nav--li(data-content='کتابچه عمومی')
          a(href='') کتابچه عمومی
        li.nav--li(data-content='کتابچه تخصصی')
          a(href='') کتابچه تخصصی
    
    .nav(data-content='یازدهم')
      a(href='')  یازدهم 
      ul
        li.nav--li(data-content='ریاضی')
          a(href='') ریاضی
        li.nav--li(data-content='تجربی')
          a(href='') تجربی
        li.nav--li(data-content='ریاضی-تجربی')
          a(href='') ریاضی-تجربی
        li.nav--li(data-content='انسانی')
          a(href='') انسانی
        li.nav--li(data-content='عمومی')
          a(href='') عمومی
        li.nav--li(data-content='کتابچه عمومی')
          a(href='') کتابچه عمومی
        li.nav--li(data-content='کتابچه تخصصی')
          a(href='') کتابچه تخصصی
    
    .nav(data-content='پایه')
      a(href='')  پایه 
      ul
        li.nav--li(data-content='ریاضی')
          a(href='') ریاضی
        li.nav--li(data-content='تجربی')
          a(href='') تجربی
        li.nav--li(data-content='ریاضی-تجربی')
          a(href='') ریاضی-تجربی
        li.nav--li(data-content='انسانی')
          a(href='') انسانی
        li.nav--li(data-content='عمومی')
          a(href='') عمومی
        li.nav--li(data-content='کتابچه عمومی')
          a(href='') کتابچه عمومی
        li.nav--li(data-content='کتابچه تخصصی')
          a(href='') کتابچه تخصصی
    
    .nav(data-content='دوازدهم')
      a(href='')  دوازدهم 
      ul
        li.nav--li(data-content='ریاضی')
          a(href='') ریاضی
        li.nav--li(data-content='تجربی')
          a(href='') تجربی
        li.nav--li(data-content='ریاضی-تجربی')
          a(href='') ریاضی-تجربی
        li.nav--li(data-content='انسانی')
          a(href='') انسانی
        li.nav--li(data-content='عمومی')
          a(href='') عمومی
        li.nav--li(data-content='کتابچه عمومی')
          a(href='') کتابچه عمومی
        li.nav--li(data-content='کتابچه تخصصی')
          a(href='') کتابچه تخصصی

    .nav(data-content='جامع')
      a(href='')  جامع 
      ul
        li.nav--li(data-content='ریاضی')
          a(href='') ریاضی
        li.nav--li(data-content='تجربی')
          a(href='') تجربی
        li.nav--li(data-content='ریاضی-تجربی')
          a(href='') ریاضی-تجربی
        li.nav--li(data-content='انسانی')
          a(href='') انسانی
        li.nav--li(data-content='عمومی')
          a(href='') عمومی
        li.nav--li(data-content='کتابچه عمومی')
          a(href='') کتابچه عمومی
        li.nav--li(data-content='کتابچه تخصصی')
          a(href='') کتابچه تخصصی
  