extends base
block container 
    section#forgot-password--section.mini-form-section
        p
            | کد ملی و ایمیل خود را وارد کنید تا لینک بازیابی رمز عبور به ایمیل شما
            | ارسال شود . توجه داشته باشید این کار ممکن است چند دقیقه طول بکشد ،
            | لطفا شکیبا باشید.
        form#forgot-password--form.form.validation--form
            input(type='text' required='' placeholder='کد ملی خود را وارد کنید' minlength='10' maxlength='10' name='username')
            input(type='email' required='' placeholder='ایمیل خود را وارد کنید' name='email')
            button ارسال
