.new_site_container#site_new_container
    div
        i.rotate.fas.fa-plus#close_site_new
    .new_site_message
        p برای  ثبت نام و درخواست کتاب به سایت جدید 
        a(href="http://nardebanisf.ir" target="_blank") nardebanisf.ir 
        p مراجعه نمایید.