extends base
block container
    section#reset-password--section.mini-form-section
        form#reset-password--form.form.validation--form
            input(type='password' required='' placeholder='رمز جدید' minlength='8' name='password')
            input(type='password' required='' placeholder='تکرار رمز جدید' minlength='8' name='passwordConfirm')
            button تغییر
