mixin othersRequests()
    // requests list user-admin and admin
    section#b-requests-list-u-a_a.none
        .container--query#container--query--others-requests.contain-loading
            form.form--query--search#requests-list-u-a_a--form
                input.query--search(name ="search" type='search' placeholder='تلفن شخصی کاربر را وارد کنید')
                button.query--button بیاب
                .temp-circles
            button.query--filter#requests-list-u-a_a_filter فیلتر کن
        .body-response
            .full-body
                table.table.requests-list-u-a_a--table
                    thead
                        tr
                            th عکس
                            th نام و نام خانوادگی
                            th شماره تماس
                            th عکس کتاب
                            th نام کتاب
                            th هزینه اشتراک
                            th زمان درخواست
                            th زمان دریافت
                            th زمان تحویل
                            th وضعیت
                    tbody
                include ../_pages
            .empty-body
    //- end of requests list user-admin and admin
        .pages
            a(href='#' style="visibility:hidden")
                i.fas.fa-chevron-right
            h6(data-current = '1') #{new Intl.NumberFormat('fa-IR').format(1)}
            a(href='#' style="visibility:hidden")
                i.fas.fa-chevron-left
